@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.mainMenuContainer{
    color: #121212;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.menuContainer{
    height: 80dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.tutorialContainer, .challengeContainer{
    width: 40%;
    height: 25em;
    background-color: #a084dc;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 15px;
    padding: 15px;
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tutorialContainer, .challengeContainer{
    color: #f1f1f1;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.titleMenu{
    font-size: 2.5em;
    margin-bottom: -1em;
    color: #e07bcf;
    font-family: 'Rubik', sans-serif;
}

.tutorialTitle, .challengeTitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 800;
    font: bold;
    color: #e07bcf;
    text-shadow: 1px 1px 1px rgba(86, 72, 118, 0.9);
}

.buttonChallenges, .buttonTutorial{
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .8em;
    padding-bottom: .8em;
    border-radius: 20px;
    border: 4px solid #524371;
    background-color: rgba(0, 255, 0, .5);
    color: #f1f1f1;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

.buttonChallenges:hover, .buttonTutorial:hover{
    transform: scale(1.2);
    transition: .2s;
    cursor: pointer;
}

.hideDiv{
    display: none;
}

.showTutorialDiv, .showChallengeDiv{
    display: block;
    height: 15em;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}